* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 
    0px;
}
.tarja {
    background-color: rgb(70, 129, 255);
    width: 260px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: -45deg;
    position: absolute;
    left: -60px;
    top: 40px;
    box-shadow: 2px 2px 10px #666666;
}
a {
    text-decoration: none;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}